.login{
  background: url(./images/bg.png);
  height: 100%;
  width: 100%;
  .login-header{
    width: 100%;
    height: 100px;
  }
  .login-content{
    width: 100%;
    height: calc(100% - 100px);
    padding: 30px;
    .img-map{
      width: 400px;
      vertical-align: baseline;
      margin-top: 130px;
    }
    .login-box{
      background: rgba(255, 255, 255, 0.2);
      margin: 130px 90px;
      border-radius: 10px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      padding: 40px;
      width: 430px;
      height: 314px;
      .login-title{
        font-size: 20px;
        color: rgb(69, 60, 63);
      }
      .login-form{
        padding: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }
}